<header class="header">
  <nav class="navbar navbar-expand-lg">
    <h3 class="title">EDACY</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" >
       <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  mx-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" >
            en
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Francais</a> 
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa-solid fa-a user"></i> </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-angle-down"></i></a>
        </li>
      
      </ul>
    </div>
        
      
   
  </nav>
</header>