
<div class="sidebar">
    <i class="fa-solid fa-angle-right ico"></i>
    <ul class="list-sidebar">
      <li> <a href="#" class="collapsed active">     
        <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li> <a href="#" class="collapsed active">
        <i class="fa-solid fa-school"></i>
        </a>
      </li>
      <li> <a href="#" class="collapsed active">
        <i class="fa-solid fa-address-card"></i>
        </a>
      </li>
      <li> <a href="#" class="collapsed active">
        <i class="fa-solid fa-arrow-up-right-dots"></i>
        </a>
      </li>
      <li> <a href="#" class="collapsed active">
        <i class="fa-brands fa-audible"></i>
      </a>
    </li>
    </ul>
</div>
